@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');

body {

	font-family: 'Lora', serif;
	color: black;
	padding: 0px;
	margin: 0px;
}

	header {
		width: 100%; 
		padding: 20px;
		box-sizing: border-box;
	}

	header nav {
		display: inline-block; 
		vertical-align: top;
		padding: 0px;
		margin: 0px;
	}

	header li {
		display: inline-block; 
		vertical-align: top;
		padding: 0px;
		margin: 0px;
	}

	main {
		display: inline-block;
		vertical-align: top;
	}
		main section {
			background-color: gray;
			padding: 20px;
			box-sizing: border-box;
			text-align: center;
		}



